@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --base-font-size: 16px;
  --base-font-weight: 300;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  padding: 0;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  background-color: var(--theme);
  color: var(--themeDark);
}

p {
  padding: 0.5em;
}

section {
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}

article {
  padding: 1em;
}

pre {
  white-space: pre-wrap;
  text-align: left;
  max-width: 100%;
  margin: auto;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

code {
  text-shadow: 0 1px 1px var(--themeDark);
}

table {
  border-collapse: collapse;
}
table th,
table tr {
  border: 1px solid;
  text-align: left;
}

table p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

@media (max-width: 960px) {
  table th {
    display: flex;
    flex-direction: column;
  }
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

/*Logo*/
.logo {
  margin-left: -120px;
}
.logo span {
  display: inline-block;
}
.logo span:nth-child(1) {
  transform: scale(1.1) translateX(calc(1.1 * 25px));
}
.logo span:nth-child(2) {
  transform: scale(1.2) translateX(calc(1.2 * 25px));
}
.logo span:nth-child(3) {
  transform: scale(1.3) translateX(calc(1.3 * 25px));
}
.logo span:nth-child(4) {
  transform: scale(1.4) translateX(calc(1.4 * 25px));
}
.logo span:nth-child(5) {
  transform: scale(1.5) translateX(calc(1.5 * 25px));
}
.logo span:nth-child(6) {
  transform: scale(1.6) translateX(calc(1.6 * 25px));
}
.logo span:nth-child(7) {
  transform: scale(1.8) translateX(calc(1.8 * 25px));
}
.logo span:nth-child(8) {
  transform: scale(2) translateX(calc(2 * 25px));
}
